

.container-fluid{

  overflow-x: scroll;
  white-space: nowrap;
  height:100vh;
}

.nav-text{
  font-size:2rem;
}


.list-title{
  margin-left: 4%;
  margin-top: 4%;

}

.list{
  margin:4%;
  display:inline-block;
  white-space: nowrap;
  
}

.remove-list-bullet{
  list-style-type: none;
}
.list-button{
  width:100%;
  height:100%;
}
.add-task-button{
  background-color: #007bff;
  border-color: #007bff;


}

.add-list-button{
  float:right;
}

.list-heading{
  display:inline-block;
}

.list-header{
  position: relative;
}


.delete-list{
  position: absolute;
  right:15px;
  bottom:8px;
}

.list-width{
  width:288px;
}

.icon-margin{
  margin-left: 147px;
}
/*list items*/
.custom-list-item{
  text-align:left;
}

.task:hover{
  background-color: #ddd;
}

.task:active{
  border: none;
}


/*view modal area*/

.view-task-modal{
  border:1px solid rgb(222, 226, 230);
  padding: 6px 10px;
  border-radius: 4px;
  margin:8px 0;

  overflow-x: auto;
  white-space: pre-wrap;
  text-align: justify;
}
.view-task-modal:hover{
  background-color: #eee;
}
.view-task-name:hover{
  background-color: #eee;
}

