
.container-fluid{
  overflow-x: scroll;
  white-space: nowrap;

   
}
.list-title{
  margin-left: 4%;
  margin-top: 4%;
  padding-left: 1%;
}



.nav-text{
  font-size:2rem;
}

.list{
  margin:4%;
  display:inline-block;
  white-space: nowrap;
  
}

.add-task:hover{
  background-color:red;

}
.remove-list-bullet{
  list-style-type: none;
}

.list-button{
  background-color: #007bff;
  border-color: #007bff;
  width:100%;
}


.add-list-button{
  float:right;
}

.list-heading{
 
  display:inline-block;
}

.list-header{
  position: relative;
}


.delete-list{
  
  position: absolute;
  right:15px;
  bottom:8px;
}
